server:
  port: 8081

spring:
  application:
    name: config

  profiles:
    active: dev
  #    active: prod
  #    active: test

  cloud:
    config:
      server:
        git:
          uri: http://127.0.0.1:3000/mixiaobu/xiaobu-config.git
          username: root
          password: 1qaz2wsx
          clone-on-start: true
        default-label: master

eureka:
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.cloud.client.ip-address}:${server.port}
